* {
  /*font-family: -apple-system;*/
  font-family: 'Roboto', sans-serif;
}

.container-fluid {
  background-color: none;
  width: 88%;
  font-size: 1.15em;

}

.col-md-4 {
  /*background-color: rgba(192, 192, 192, 0.3);*/
  /*font-family: arial;*/
  width: 32.25%;
  margin: 5px;
  /*font-weight: bold;*/
  color: white;
  top: 10px;


}

h1 {
  color: #2C3E50;
  /*for animate CSS*/
  -webkit-animation-duration: 2.5s;
  -webkit-animation-delay: 0.15s;
  /*-webkit-animation-iteration-count: infinite;*/
}
/*
#nav-col {
  background-color: rgba(192, 192, 192, 0.3);
  font-family: arial;
  float: left;
  text-align: center;
  margin: 2px;
  width: 25%;
  background-color: rgba(0, 0, 0, 0.1);
  height: 100px;
}*/


#planned {
  background-color: #3498DB;
}

#in-progress {
  background-color: #F1C40F;
}

#done {
  background-color: #F39C12;
}


#boards {

}


.postits {
  height: 100%;
  width: 100%;
  text-align: center;
  color: white;
  background-color: #3498DB;
  /*border-radius: 5px;*/
  margin: 1.15px;
  padding: 1px;
  /*for animate CSS*/
  -webkit-animation-duration: 3s;
  /*-webkit-animation-delay: 0.15s;*/
  /*-webkit-animation-iteration-count: infinite;*/
}

#delete-button {
  background-color: #E74C3C;
  color: white;
  /*background-color: white;
  color: #E74C3C;*/
  /*font-size: 1em;*/
  font-weight: bold;
}

#add-button {
  background-color: #27AE60;
  color: white;
  /*background-color: white;
  color: #27AE60;*/
  /*font-size: 1em;*/
  font-weight: bold;
}

#input-field {
  text-align: center;
  font-size: 1em;
  color: #2C3E50;
  /*font-weight: bold;*/
  top: 1px;
}

.panel-footer {


}
